* {
    box-sizing: border-box;
    /* to avoid red highlite when user selects elements: */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    min-height: 100vh; /* 100% of viewport-height*/
    margin: 0;
    font-size: 1.8rem;
    /*font-family: 'Atma', cursive;*/
    /*font-family: 'Special Elite', cursive;*/
    font-family: "Life Savers", cursive;
    /******background image******/
    background-image: url("images/white-wall.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
}

/* stuff-logo styles */
#stuff-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 340px;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: "Life Savers", cursive;
    text-align: center;
}

#stuff-logo h1 {
    font-size: 8rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

#stuff-logo h2 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

/* section styles */
#construction-area {
    position: absolute;
    bottom: 112px;
    right: 592px;
    height: 680px;
    width: 720px;
    padding: 4px;
    border: 3px lightgrey dashed;
    border-radius: 20px;
    margin-left: 6px;
    background-color: rgba(211,211,211,0.5);
}

#objects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    position: absolute;
    bottom: 102px;
    right: 0;
    height: 800px;
    width: 580px;
    padding: 4px;
    border: 3px lightgrey dashed;
    border-radius: 10px;
    margin-right: 4px;
}
#queue {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-top: 3px black dashed;
}

#queue-overlay {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* --------------- OBJECT STYLES ---------------*/

.img-box {
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    margin: 2px;
    z-index: 1;
}


#queue .img-box {
    max-height: 90px;
    width: auto;
    margin-left: 26px;
    margin-right: 6px;
    margin-top: 3px;
    z-index: 0;
}

.img-box img {
    height: 100%;
    width: auto;
}
.img-box img:hover {
    cursor: pointer;
}

/* styles for particular object items: */
.banana {
    height: 60px;
    width: auto;
    clip-path: polygon(-2% 50%, 10% 35%, 61% 37%, 88% 19%, 93% 0%, 100% 0%, 100% 20%, 98% 37%, 93% 79%, 74% 101%, 37% 100%, 12% 86%, 4% 74%);
}
.bridge {
    height: 100px;
    width: auto;
}
.bridge.v1 {
    clip-path: polygon(0% 28%, 18% 9%, 37% 0, 65% 2%, 83% 19%, 87% 34%, 100% 49%, 99% 82%, 82% 85%, 82% 63%, 73% 63%, 63% 75%, 62% 88%, 48% 91%, 46% 71%, 35% 67%, 26% 75%, 22% 98%, 8% 99%, 0% 99%);
}
.cloth {
    height: 270px;
    width: auto;
    /* border: 3px black solid;
    border-top-right-radius: 500%;
    border-top-left-radius: 200%;
    border-bottom-left-radius: 160%;
    border-bottom-right-radius: 200%;
    overflow: hidden; */
}
.cloth.v1 {
    clip-path: polygon(37% 0%, 99% 50%, 100% 78%, 77% 78%, 37% 101%, 30% 88%, 3% 92%, 0% 34%);
}
.coin {
    height: 100px;
    width: auto;
}
.coin.v1 {
    clip-path: circle(50% at center);
}
.flower {
    height: 170px;
    width: auto;
}
.flower.v1 {
    clip-path: circle(52% at 51% 51%);
}
.fur {
    height: 200px;
    width: auto;
    clip-path: polygon(38% -1%, 83% 10%, 100% 37%, 104% 60%, 96% 67%, 95% 78%, 74% 81%, 48% 109%, 1% 68%, 0% 20%);
}
.giant {
    height: 200px;
    width: auto;
}
.giant.v1 {
    clip-path: polygon(50% -5%, 77% 8%, 72% 12%, 100% 20%, 105% 22%, 86% 61%, 76% 62%, 71% 74%, 98% 83%, 95% 97%, 50% 106%, 3% 95%, 2% 81%, 24% 74%, 21% 63%, 9% 62%, -5% 22%, 0% 20%, 25% 12%, 19% 8%);
}
.peg {
    height: 120px;
    width: auto;
}
.peg.v1 {
    clip-path: polygon(8% -2%, 100% 64%, 100% 70%, 62% 59%, 115% 121%, -1% 29%);
}
.pig {
    height: 90px;
    width: auto;
}
.pig.v1 {
    clip-path: polygon(0 42%, 10% 36%, 15% 15%, 28% 1%, 36% 1%, 39% 6%, 40% 10%, 62% 0, 79% 0%, 92% 8%, 92% 27%, 94% 43%, 98% 51%, 98% 62%, 101% 86%, 97% 92%, 91% 88%, 89% 70%, 77% 58%, 63% 69%, 49% 68%, 44% 89%, 44% 100%, 33% 100%, 36% 74%, 32% 82%, 25% 81%, 32% 59%, 20% 65%, 6% 59%, -2% 50%);
}
.plane {
    height: 160px;
    width: auto;
}
.plane.v1 {
    clip-path: polygon(0% 53%, 1% 36%, 5% 35%, 6% 46%, 27% 36%, 27% 0%, 45% 0%, 50% 15%, 53% 37%, 66% 38%, 75% 21%, 82% 20%, 86% 39%, 102% 42%, 87% 50%, 86% 72%, 80% 73%, 68% 57%, 55% 59%, 55% 81%, 50% 100%, 32% 100%, 29% 63%, 8% 61%, 7% 69%, 2% 68%);
}
.pokerchip {
    height: 90px;
    width: auto;
}
.pole {
    height: 170px;
    width: auto;
    clip-path: polygon(99% -2%, 102% 5%, 0% 103%, -2% 94%);
}
.puzzle {
    height: 170px;
    width: auto;
}
.puzzle.v1 {
    clip-path: polygon(5% 26%, 36% 26%, 38% 21%, 33% 16%, 33% 7%, 46% -1%, 60% -1%, 65% 3%, 65% 10%, 61% 15%, 59% 22%, 63% 25%, 94% 25%, 97% 48%, 95% 50%, 88% 51%, 78% 44%, 74% 46%, 72% 55%, 74% 65%, 81% 70%, 87% 66%, 93% 66%, 97% 70%, 100% 100%, 64% 100%, 61% 97%, 61% 92%, 65% 84%, 61% 75%, 51% 72%, 42% 80%, 46% 95%, 40% 100%, 0% 99%, 2% 71%, 8% 67%, 16% 74%, 22% 75%, 27% 64%, 22% 51%, 17% 51%, 9% 54%, 4% 51%);
}
.ring {
    height: 95px;
    width: auto;
}
.ring.v1 {
    clip-path: circle(50% at center);
}
.rummikubtile {
    height: 150px;
    width: auto;
}
.scissors {
    height: 100px;
    width: auto;
    clip-path: polygon(0% 29%, 0% 21%, 12% 16%, 48% 37%, 59% 27%, 67% 23%, 70% 10%, 76% 1%, 91% 0%, 100% 10%, 100% 28%, 93% 39%, 71% 43%, 63% 46%, 82% 57%, 89% 57%, 99% 67%, 101% 84%, 95% 97%, 80% 101%, 70% 91%, 68% 71%, 51% 60%, 10% 85%, 0% 79%, 0% 72%, 34% 50%);
}
.stone {
    height: 90px;
    width: auto;
    clip-path: polygon(-2% 63%, 1% 44%, 6% 33%, 20% 16%, 36% 4%, 44% 0%, 63% 0%, 73% 5%, 87% 20%, 97% 42%, 103% 60%, 98% 77%, 91% 88%, 79% 99%, 59% 99%, 7% 81%)
}
.ticket {
    height: 190px;
    width: auto;
}
.token {
    height: 110px;
    width: auto;
}
.token.v1 {
    clip-path: ellipse(50% 51% at 50% 50%);
}
.triangle {
    height: 110px;
    width: auto;
    clip-path: polygon(-10% 110%, 45% 0%, 50% 0%, 107% 96%);
}
