img {
    width: 120px;
    margin: 20px;
}

.clip-circle {
    clip-path: circle(60px at center);
}
.clip-ellipse {
    clip-path: ellipse(60px 40px at center);
}
.clip-polygon {
    clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.clip-triangle {
    clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
}

.clip-rhombus {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.clip-heptagon {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.clip-octagon {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.clip-star {
    /* change to %: */
    clip-path: polygon(0.5 0, 0.63 0.38, 1 0.38, 0.69 0.59, 0.82 1, 0.5 0.75, 0.18 1, 0.31 0.59, 0 0.38, 0.37 0.38);
}


body {
    background: linear-gradient(
    to bottom,
    red,
    yellow
  );
}

body, html {
    height: 100%;
}
